BR2_arm=y
BR2_arm920t=y
BR2_TOOLCHAIN_BUILDROOT_VENDOR="easylinux"
BR2_TOOLCHAIN_BUILDROOT_INET_IPV6=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_TARGET_GENERIC_HOSTNAME="easylinux"
BR2_TARGET_GENERIC_ISSUE="Welcome to easylinux"
